.grid {
  padding: 15px 0px 0px 0px;

  .card-galleries {
    margin: -7px 0 0 0px;

    &:hover {
      box-shadow: 25px 25px 12px 0px rgba(198, 200, 204, 1);
    }
  }

  .box-gallery {
    min-height: 250px;
    white-space: nowrap;
    margin-bottom: unset;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;

    &:hover {
      background-color: #cfd8dc;
      cursor: pointer;
      font-size: 45px;
      text-shadow: 4px 0px 5px #000;

    }
  }

  .title-page {
    text-align: center;
  }
}

.gallery {
  opacity: 0;
}

.gallery {
  -webkit-animation: cssAnimationGallery 1s forwards;
  animation: cssAnimationGallery 1s forwards;
  animation-duration: 1s;
}

@keyframes cssAnimationGallery {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}