
html, body {
  margin: auto;
  padding: 0;
  height: 100%;
  background-image: url("/image/b-gamybos-grupe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
   //font-family: 'Raleway', sans-serif;
   font-family: 'Poppins', sans-serif;
  //font-family: "Times New Roman", Times, serif !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1100 !important;
  background-color: rgba(0, 0, 0, 0.85) !important;
}

.fs-12 {
  font-size: 12px;
}